@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    outline: none;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.green-box {
  @apply rounded-lg bg-[#F5F7F4] py-3 px-4 md:py-5 md:px-6;
}

.inputStyles {
  @apply w-full rounded-lg px-2.5 py-1.5 text-sm outline-none ring-1 ring-gray-300 md:px-4 md:py-2 md:text-base;
}

.option {
  @apply px-2.5 py-1.5 text-sm md:px-4 md:py-2 md:text-base;
}

.absoluteCenter {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transform;
}

.badge {
  @apply flex w-min gap-1 py-1 px-2.5 text-xs font-medium sm:text-sm lg:text-base;
}

.button {
  @apply rounded-lg border border-gray-400 bg-gray-100 py-1.5 px-3 text-sm text-slate-700 outline-none transition duration-200 disabled:opacity-70 sm:px-4 sm:py-2 lg:text-base;
}

.btnGray {
  @apply enabled:hover:border-slate-600 enabled:hover:bg-slate-100 enabled:hover:text-slate-900;
}

.btnRed {
  @apply enabled:hover:border-red-400 enabled:hover:bg-red-50 enabled:hover:text-red-800;
}

.info-icon {
  @apply mr-1 inline-block -translate-y-[1px] transform text-sm opacity-80 sm:mr-1.5 sm:text-lg;
}
